* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.3rem;
  background-color: transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 0.5rem;
}

body {
  font-family: poppins, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid lightgrey;
  width: 30%;
  height: 15rem;
  margin-top: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  box-shadow: 0 0 15px lightgrey;
  background-color: #fff;
}

.container {
  width: 70%;
  margin-top: 2rem;
}

.header {
  font-size: 0.9rem;
}

.option {
  display: flex;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  color: grey;
}

.uil-text-fields {
  color: grey;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.input {
  border: none;
  width: 100%;
  outline: none;
  white-space: pre-wrap;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  cursor: text;
}

.main {
  height: 80vh;
  overflow: auto;
  box-shadow: 0 5px 0 lightgray;
}

.font {
  font-size: 1.5rem;
}

.options > div {
  cursor: pointer;
}

.options {
  height: 10rem;
  overflow: auto;
  margin-top: 0.5rem;
}

.options > div:hover {
  background-color: lightgray;
}

.ptag {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.picon {
  padding: 0.3rem 0;
}

.uil {
  font-size: 25px;
  color: gray;
  cursor: pointer;
}

nav {
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-img {
  padding-right: 1rem;
  border-right: 1px solid lightgrey;
}

.clock,
.profile {
  padding-left: 1rem;
}

.clock,
.arrow,
.picon {
  display: flex;
  align-items: center;
  color: gray;
}

.uil-clock,
.uil-arrow-down-left {
  margin-right: 0.5rem;
}

.right {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  padding: 2rem 0;
}

.heading > h1 {
  font-size: 1.2rem;
  color: #000;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.3rem;
}

.decription {
  margin-top: 0.5rem;
  color: #6e747e;
  font-size: 0.9rem;
}

.content > h1 {
  font-size: 2rem;
}

.content > h1,
h2,
h3,
h4,
h5,
h6,
p {
  outline: none;
}

.content > h2 {
  font-size: 1.7rem;
}

.menu > div > p {
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.option > img {
  width: 2rem;
  margin-right: 1rem;
}

.option > div > :nth-child(1) {
  color: #000;
  font-weight: bold;
}

.dark-mode {
  background-color: #000;
  color: lightgray;
}

/* Media Screen */

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .menu {
    width: 95%;
  }

  .uil-moon {
    display: none;
  }
}
